
<main>
    <div><h1>Family business</h1></div>
    <section id = 'todo' (click)="open('todo')">
        <img [src]="fullImagePath1" alt="todo" width="240" height="230" />
    </section>
    <section id = 'expenses' (click)="open('expenses')">
        <img [src]="fullImagePath2" alt="expenses" width="240" height="230" />
    </section>
    <section id = 'photo' (click)="open('photo')">
        <img [src]="fullImagePath3" alt="photo" width="240" height="230" />
    </section>
    <section id = 'calendar' (click)="open('calendar')">
        <img [src]="fullImagePath4" alt="calendar" width="240" height="230" />
    </section>
</main>
<footer><i>Viktoryia Karotkaya</i></footer>

